/* Step1 css */
/* Styles spécifiques au modal Step1 */
.modal-step1-container {
  background-color: #f5f5f5;
}

.modal-sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.modal-menu-list {
  list-style-type: none;
  padding: 0;
}

.modal-menu-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.modal-menu-list li.active {
  background-color: #007bff;
  color: white;
}

.modal-section-content {
  padding: 20px;
}


/* SECTIONA */
.sectionA-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

.note-selection {
  display: flex;
  gap: 10px;
}

.note-selection label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.note-selection input[type="radio"] {
  margin-right: 5px;
}

