.table-competences th,
.table-competences td {
    white-space: nowrap; /* Empêche les retours à la ligne */
    text-overflow: ellipsis; /* Ajoute "..." si le texte dépasse */
    overflow: hidden; /* Cache le texte débordant */
    max-width: 150px; /* Largeur maximale pour les colonnes */
}

.table-competences th {
    text-align: left;
}


.table-competences {
    text-align: left;
}

.table-competences thead tr {
    font-weight: bolder;
}

.button-save-profil {
    margin: 10px;
}

.button-save-profil button {
    margin: 5px;
}

.image-profil {
    float: left;
}

.decription {
    float: left;
}

.value-profil {
    color: #888;
}

.icon-edit {
    font-size: large;
    color: #fde826;
}

.icon-delete {
    font-size: large;
    color: red;
}

.table-skill {
    margin-top: 50px;
}

.color-graph {
    width: 50px;
    height: 15px;
    border: 1px solid black;
    float: left;
    margin-top: 5px;
}

.descri-graph {
    float: left;
    margin-left: 10px;
}

.color-graph1 {
    background-color:  'rgba(255, 99, 132, 0.2)';
}

@media (max-width: 768px) {
    .table-competences th, .table-competences td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .table-competences tr {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;
    }
}

.button-logo {
    margin-right: 10px; 
    font-size: large !important;
}