
.custom-tooltip {
    background-color: #d8c604; /* Vert professionnel */
    color: white; /* Texte blanc */
    font-size: 14px; /* Texte lisible */
    border-radius: 10px; /* Bords arrondis */
    padding: 10px 15px; /* Espacement interne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    font-family: 'Arial', sans-serif; /* Police élégante */
    border: 1px solid #ddd; /* Ligne subtile */
  }
  
.fade-in-tooltip {
    animation: fadeIn 0.3s ease-in-out;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  