.step1-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    margin: 20px; /* Ajoute un peu d'espace autour */
}

.evaluation-select {
    padding: 10px;
    border: 2px solid #007bff; /* Couleur du bord */
    border-radius: 5px;
    font-size: 16px;
    color: black;
    background-color: #fff; /* Fond blanc */
    appearance: none; /* Supprime la flèche par défaut */
    background-image: none; /* Supprime toute image d'arrière-plan */
    transition: border-color 0.3s ease; /* Transition douce pour le survol */
}

.evaluation-select:hover {
    border-color: #0056b3; /* Couleur du bord au survol */
}



.loader {
    border: 8px solid #f3f3f3; /* Couleur de fond */
    border-top: 8px solid #3498db; /* Couleur de l'animation */
    border-radius: 50%;
    width: 40px; /* Taille du spinner */
    height: 40px;
    animation: spin 2s linear infinite; /* Animation de rotation */
    margin-top: 10px;
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.questions-container {
    margin-top: 20px;
}

.question-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px; /* Augmente le padding pour plus d'espace */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ajoute une ombre portée */
}

.rating-container {
    margin-top: 10px;
}

.rating-label {
    margin-right: 10px; /* Espacement entre les labels */
}

/* Style pour les boutons radio */
.rating-label input[type="radio"] {
    margin-right: 5px; /* Espacement entre le bouton et le texte */
}